@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/*Still need to look through this with an eye towards cleanliness and efficiency - can we make children or descendents?*/

body {
	background-color: #E8E8E8;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	
}

header {
	width: 100%;
	height: 60px;
	background-color: #E8E8E8;
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid #BDBDBD;
	
}

#logo {
	float: left;
}

main {
	overflow: auto;
}

#logo h2 {
	margin: 0;
	text-align: center;
	color: #E8444D;
	font-size: 27px;
	font-family: 'Great Vibes', cursive;
	padding: 18px;
	background-color: none;
	}

nav {
	float: right;

}

nav a {
	display: inline-block;
	margin: 10px;
	text-align:;
	color: #E8444D;
	padding: 10px;
}

#introduction {
	margin-top: 60px;
	background: url("../images/neckdown.jpg") no-repeat bottom center fixed;
	width: 100%;
	height: 50vh;
	background-size: cover;
	text-align: center;
	padding: 100px 0;
}

#slogan {
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	text-shadow: 1px 1px #000;
	margin: 50px;
}

#introduction #button {
	background-color: rgba(255,255,255,0.5);
	border: solid white 2px;
	color: #E8444D;
	text-align: center;
	font-weight: bold;
	margin: auto;
	padding: 20px;
	width: 150px;
	border-radius: 10px;
}

#welcome {
	padding: 5%;
	margin: auto;
	width: 80%;
	line-height: 1.5em;

}

#pre-ceremony {
	margin: auto;
	padding: 0% 5%;
}


#portraits {
	margin: auto;
	padding: 3% 5%;
}

#ceremony {
	margin: auto;
	padding: 3% 5%;
}

#reception {
	margin: auto;
	padding: 3% 5%;
}

#dancing {
	margin: auto;
	padding: 3% 5%;
}

.thumbnails {
	margin: auto;
	float: left;
	width: 21%;
	margin: 2%;
}


.thumbnails img {
    width: 100%;
    max-width: 225px;
  
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column {
    /*Purpose is only for clearfix*/
}

#left {
    padding: 2%;
    float: left;
    width: 62%;
    height: 325px;
    margin: auto;
}

#mini-float {
	width: 75%;
	padding: 1%;
	display: block;
	margin: auto;
}

.honeymoon-float {
	float:left;
	width: 29.33%;
	padding: 2%;

}

.honeymoon-float img {
	width: 100%;
}

#right {
    padding: 2%;
    float: right;   
    width: 30%;
    height: 325px;  
}


h1 {
	color: rgb(255,255,255);
	font-size: 45px;
	font-family: 'Great Vibes', cursive;
	text-shadow: 1px 1px #000;
	margin-bottom: 50px;
}

h2 {
	color: #000080;
	font-size: 35px;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	margin: 20px;
}

hr {
	width: 30%;
	border: none;
	height: 1px;
	background-color: #fff;
	text-shadow: 1px 1px #fff;
}


p {
	color: #000080;
	line-height: 1.5em;
}



a:link {
	text-decoration: none;
	color: #E8444D;

}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #C0003E;
}

a:active {
	color: #C0003E;
}

footer {
	margin: 2em;
	text-align: center;
	
}

#copyright {
	text-align: center;
}